<launch>
    <rosparam command="load" file="$(find ros2ros)/config/config_listener.yaml" />
    <rosparam command="load" file="$(find ros2ros)/config/config_publisher.yaml" />
    <node name="topic_listener" pkg="ros2ros" type="listener.py" output="screen"/>
    <node name="topic_publisher" pkg="ros2ros" type="publisher.py" output="screen"/>
    <include file="$(find ros2ros)/launch/rtsp_streams.launch"/>
</launch>
